In [1]:
import numpy as np
import pandas as pd

In [67]:
df=pd.read_excel("bias_score_updated.xlsx",sheet_name='profession_analogy')
df

,original,original_debias_score_wei,original_make_sense_score_wei,original_debias_score_farhana,original_make_sense_score_farhana,original_debias_score_peiyu,original_make_sense_score_peiyu,original_debias_score_luming,original_make_sense_score_luming,debiased_1,...,debiased_4_make_sense_score_luming,debiased_5,debiased_5_debias_score_wei,debiased_5_make_sense_score_wei,debiased_45_debias_score_farhana,debiased_5_make_sense_score_farhana,debiased_5_debias_score_peiyu,debiased_5_make_sense_score_peiyu,debiased_5_debias_score_luming,debiased_5_make_sense_score_luming
0,"'accountant': 'auditor',",NaN,NaN,NaN,NaN,3,3,3,3,"'lawyer': 'attorney',",...,NaN,"'auditor': 'accountant',",NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN
1,"'actress': 'actor',",3.0,3.0,NaN,NaN,3,3,3,3,"'actor': 'actors',",...,NaN,"'actor': 'actress',",NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN
2,"'advocates': 'advocate',",NaN,NaN,NaN,NaN,3,3,3,3,"'actress': 'actor',",...,NaN,"'advocates': 'advocate',",NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN
3,"'ambassador': 'consul',",NaN,NaN,NaN,NaN,3,3,3,3,"'advocates': 'advocate',",...,NaN,"'ambassador': 'megasthenes',",NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
4,"'analyst': 'researcher',",NaN,NaN,NaN,NaN,1,3,2,3,"'ambassador': 'consul',",...,NaN,"'analyst': 'therapist',",NaN,NaN,NaN,NaN,1.0,3.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,"'waitress': 'waiter',",NaN,NaN,NaN,NaN,3,3,3,3,'writer': 'novelist',...,NaN,"'danlos': 'wrestler',",NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
111,"'warden': 'wadham',",NaN,NaN,NaN,NaN,0,0,0,0,NaN,...,NaN,'writer': 'artist',NaN,NaN,NaN,NaN,1.0,3.0,NaN,NaN
112,"'welder': 'rochambeau',",NaN,NaN,NaN,NaN,0,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,"'worker': 'workers',",NaN,NaN,NaN,NaN,3,3,3,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,"'wrestler': 'danlos',",NaN,NaN,NaN,NaN,0,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
original=df[['original','original_debias_score_peiyu','original_make_sense_score_peiyu','original_debias_score_luming','original_make_sense_score_luming']]
original['original_debias_score']=(original['original_debias_score_peiyu']+original['original_debias_score_luming'])/2
original['original_make_sense_score']=(original['original_make_sense_score_peiyu']+original['original_make_sense_score_luming'])/2
original=original[['original_debias_score','original_make_sense_score']]
original

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     original_debias_score  original_make_sense_score
0                      3.0                        3.0
1                      3.0                        3.0
2                      3.0                        3.0
3                      3.0                        3.0
4                      1.5                        3.0
..                     ...                        ...
110                    3.0                        3.0
111                    0.0                        0.0
112                    0.0                        0.0
113                    3.0                        3.0
114                    0.0                        0.0

[115 rows x 2 columns]

In [88]:

zero_count=len(original[original['original_make_sense_score']==0])
print(zero_count)

unbiased_count=len(original[original['original_debias_score']==3])
  
print(unbiased_count)


print("avg make sense score is: "+str(round(sum(original.original_make_sense_score)/len(original.original_make_sense_score),2)))

bias_score=original.original_debias_score
bias_score=bias_score[bias_score!=0]
print(bias_score)
print("avg bias score is: "+str(round(sum(bias_score)/len(bias_score),2)))

23
37
avg make sense score is: 2.34
0      3.0
1      3.0
2      3.0
3      3.0
4      1.5
      ...
106    3.0
107    3.5
108    3.0
110    3.0
113    3.0
Name: original_debias_score, Length: 91, dtype: float64
avg bias score is: 2.26

In [70]:
debias_1=df[['debiased_1','debiased_1_debias_score_peiyu','debiased_1_make_sense_score_peiyu']]
debias_1.rename(columns={'debiased_1_debias_score_peiyu':'debias_score', 'debiased_1_make_sense_score_peiyu':'make_sense_score'}, inplace=True)

debias_1.dropna(inplace=True)
debias_1

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                    debiased_1  debias_score  make_sense_score
0        'lawyer': 'attorney',           3.0               3.0
1           'actor': 'actors',           3.0               3.0
2          'actress': 'actor',           3.0               3.0
3     'advocates': 'advocate',           3.0               3.0
4      'ambassador': 'consul',           3.0               3.0
..                         ...           ...               ...
106        'wadham': 'warden',           0.0               0.0
107    'welder': 'councilman',           1.0               3.0
108       'workers': 'worker',           3.0               3.0
109      'wrestler': 'danlos',           0.0               0.0
110       'writer': 'novelist'           3.0               3.0

[111 rows x 3 columns]

In [75]:
zero_count_1=len(debias_1[debias_1['make_sense_score']==0])
print(zero_count_1)

unbiased_count=len(debias_1[debias_1['debias_score']==3])
  
print(unbiased_count)

print(debias_1)

print("avg make sense score is: "+str(round(sum(debias_1.make_sense_score)/len(debias_1.make_sense_score),2)))

bias_score=debias_1.debias_score
bias_score=bias_score[bias_score!=0]
print(bias_score)
print("avg bias score is: "+str(round(sum(bias_score)/len(bias_score),2)))

24
43
                    debiased_1  debias_score  make_sense_score
0        'lawyer': 'attorney',           3.0               3.0
1           'actor': 'actors',           3.0               3.0
2          'actress': 'actor',           3.0               3.0
3     'advocates': 'advocate',           3.0               3.0
4      'ambassador': 'consul',           3.0               3.0
..                         ...           ...               ...
106        'wadham': 'warden',           0.0               0.0
107    'welder': 'councilman',           1.0               3.0
108       'workers': 'worker',           3.0               3.0
109      'wrestler': 'danlos',           0.0               0.0
110       'writer': 'novelist'           3.0               3.0

[111 rows x 3 columns]
avg make sense score is: 2.36
0      3.0
1      3.0
2      3.0
3      3.0
4      3.0
      ...
104    1.0
105    3.0
107    1.0
108    3.0
110    3.0
Name: debias_score, Length: 87, dtype: float64
avg bias score is: 2.84

"\ndebias_1['avg_score_1']=0\ndebias_1['avg_ms_1']=0\nfor i in range(len(debias_1)):\n    debias_1.avg_score_1.iloc[i]=round(sum(debias_1.iloc[i,1:6:2])/3,2)\n    scores=debias_1.iloc[i,2:7:2]\n    if len(scores[scores==0])<2:\n        debias_1.avg_ms_1.iloc[i]=round(sum(debias_1.iloc[i,2:7:2])/3,2)\nprint(debias_1)\n\nprint(sum(debias_1.avg_score_1)/len(debias_1.avg_score_1))\nprint(sum(debias_1.avg_ms_1)/len(debias_1.avg_ms_1))"

In [72]:

debias_2=df[['debiased_2','debiased_2_debias_score_peiyu','debiased_2_make_sense_score_peiyu']]
debias_2.rename(columns={'debiased_2_debias_score_peiyu':'debias_score', 'debiased_2_make_sense_score_peiyu':'make_sense_score'}, inplace=True)
#debias_1.columns=[['debiased_1','debias_score','make_sense_score']]
debias_2.dropna(inplace=True)
debias_2

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                        debiased_2  debias_score  make_sense_score
0          'accountant': 'lawyer',           1.0               3.0
1               'actor': 'actors',           3.0               3.0
2              'actress': 'actor',           3.0               3.0
3         'advocates': 'advocate',           3.0               3.0
4     'ambassador': 'megasthenes',           0.0               0.0
..                             ...           ...               ...
110            'warden': 'wadham',           0.0               0.0
111        'welder': 'councilman',           1.0               3.0
112           'workers': 'worker',           3.0               3.0
113          'wrestler': 'danlos',           0.0               0.0
114           'writer': 'composer'           4.0               3.0

[113 rows x 3 columns]

In [85]:
zero_count_2=len(debias_2[debias_2['make_sense_score']==0])
print(zero_count_2)


unbiased_count=len(debias_2[debias_2['debias_score']==3])
    
print(unbiased_count)

print(debias_2)

print("avg make sense score is: "+str(round(sum(debias_2.make_sense_score)/len(debias_2.make_sense_score),2)))

bias_score=debias_2.debias_score
bias_score=bias_score[bias_score!=0]
#print(bias_score)
print("avg bias score is: "+str(round(sum(bias_score)/len(bias_score),2)))

23
39
                        debiased_2  debias_score  make_sense_score
0          'accountant': 'lawyer',           1.0               3.0
1               'actor': 'actors',           3.0               3.0
2              'actress': 'actor',           3.0               3.0
3         'advocates': 'advocate',           3.0               3.0
4     'ambassador': 'megasthenes',           0.0               0.0
..                             ...           ...               ...
110            'warden': 'wadham',           0.0               0.0
111        'welder': 'councilman',           1.0               3.0
112           'workers': 'worker',           3.0               3.0
113          'wrestler': 'danlos',           0.0               0.0
114           'writer': 'composer'           4.0               3.0

[113 rows x 3 columns]
avg make sense score is: 2.41
avg bias score is: 2.63

In [77]:

debias_3=df[['debiased_3','debiased_3_debias_score_peiyu','debiased_3_make_sense_score_peiyu']]
debias_3.rename(columns={'debiased_3_debias_score_peiyu':'debias_score', 'debiased_3_make_sense_score_peiyu':'make_sense_score'}, inplace=True)
debias_3.dropna(inplace=True)
debias_3

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                         debiased_3  debias_score  make_sense_score
0          'accountant': 'auditor',           1.0               3.0
1               'actor': 'actress',           3.0               3.0
2          'advocate': 'advocates',           3.0               3.0
3          'ambassador': 'embassy',           1.0               3.0
4     'researcher': 'investigator',           4.0               3.0
..                              ...           ...               ...
107             'wadham': 'warden',           0.0               0.0
108               'welder': 'smit',           3.0               3.0
109            'worker': 'workers',           3.0               3.0
110           'wrestler': 'danlos',           0.0               0.0
111            'writer': 'novelist'           3.0               3.0

[112 rows x 3 columns]

In [84]:
zero_count_3=len(debias_3[debias_3['make_sense_score']==0])
print(zero_count_3)

unbiased_count=len(debias_3[debias_3['debias_score']==3])
    
print(unbiased_count)

print(debias_3)

print("avg make sense score is: "+str(round(sum(debias_3.make_sense_score)/len(debias_3.make_sense_score),2)))

bias_score=debias_3.debias_score
bias_score=bias_score[bias_score!=0]
#print(bias_score)
print("avg bias score is: "+str(round(sum(bias_score)/len(bias_score),2)))

29
43
                         debiased_3  debias_score  make_sense_score
0          'accountant': 'auditor',           1.0               3.0
1               'actor': 'actress',           3.0               3.0
2          'advocate': 'advocates',           3.0               3.0
3          'ambassador': 'embassy',           1.0               3.0
4     'researcher': 'investigator',           4.0               3.0
..                              ...           ...               ...
107             'wadham': 'warden',           0.0               0.0
108               'welder': 'smit',           3.0               3.0
109            'worker': 'workers',           3.0               3.0
110           'wrestler': 'danlos',           0.0               0.0
111            'writer': 'novelist'           3.0               3.0

[112 rows x 3 columns]
avg make sense score is: 2.22
avg bias score is: 2.84

In [89]:
debias_4=df[['debiased_4','debiased_4_debias_score_peiyu','debiased_4_make_sense_score_peiyu']]
debias_4.rename(columns={'debiased_4_debias_score_peiyu':'debias_score', 'debiased_4_make_sense_score_peiyu':'make_sense_score'}, inplace=True)

debias_4.dropna(inplace=True)
debias_4

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                    debiased_4  debias_score  make_sense_score
0     'auditor': 'accountant',           4.0               3.0
1          'actor': 'actress',           3.0               3.0
2     'advocate': 'advocates',           3.0               3.0
3      'ambassador': 'consul',           4.0               3.0
4      'therapist': 'analyst',           1.0               3.0
..                         ...           ...               ...
106        'wadham': 'warden',           0.0               0.0
107     'welder': 'governour',           1.0               3.0
108       'worker': 'workers',           3.0               3.0
109      'wrestler': 'danlos',           0.0               0.0
110           'writer': 'poet'           4.0               3.0

[111 rows x 3 columns]

In [90]:
zero_count_4=len(debias_4[debias_4['make_sense_score']==0])
print(zero_count_4)

unbiased_count=len(debias_4[debias_4['debias_score']==3])
    
print(unbiased_count)

print(debias_4)

print("avg make sense score is: "+str(round(sum(debias_4.make_sense_score)/len(debias_4.make_sense_score),2)))

bias_score=debias_4.debias_score
bias_score=bias_score[bias_score!=0]

print("avg bias score is: "+str(round(sum(bias_score)/len(bias_score),2)))

22
39
                    debiased_4  debias_score  make_sense_score
0     'auditor': 'accountant',           4.0               3.0
1          'actor': 'actress',           3.0               3.0
2     'advocate': 'advocates',           3.0               3.0
3      'ambassador': 'consul',           4.0               3.0
4      'therapist': 'analyst',           1.0               3.0
..                         ...           ...               ...
106        'wadham': 'warden',           0.0               0.0
107     'welder': 'governour',           1.0               3.0
108       'worker': 'workers',           3.0               3.0
109      'wrestler': 'danlos',           0.0               0.0
110           'writer': 'poet'           4.0               3.0

[111 rows x 3 columns]
avg make sense score is: 2.41
avg bias score is: 2.85

In [81]:
debias_5=df[['debiased_5','debiased_5_debias_score_peiyu','debiased_5_make_sense_score_peiyu']]
debias_5.rename(columns={'debiased_5_debias_score_peiyu':'debias_score', 'debiased_5_make_sense_score_peiyu':'make_sense_score'}, inplace=True)

debias_5.dropna(inplace=True)
debias_5

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                        debiased_5  debias_score  make_sense_score
0         'auditor': 'accountant',           3.0               3.0
1              'actor': 'actress',           3.0               3.0
2         'advocates': 'advocate',           3.0               3.0
3     'ambassador': 'megasthenes',           0.0               0.0
4          'analyst': 'therapist',           1.0               3.0
..                             ...           ...               ...
107            'warden': 'wadham',           0.0               0.0
108        'welder': 'councilman',           1.0               3.0
109           'workers': 'worker',           3.0               3.0
110          'danlos': 'wrestler',           0.0               0.0
111             'writer': 'artist'           1.0               3.0

[112 rows x 3 columns]

In [82]:
zero_count_5=len(debias_5[debias_5['make_sense_score']==0])
print(zero_count_5)

unbiased_count=len(debias_5[debias_5['debias_score']==3])
    
print(unbiased_count)

print(debias_5)

print("avg make sense score is: "+str(round(sum(debias_5.make_sense_score)/len(debias_5.make_sense_score),2)))

bias_score=debias_5.debias_score
bias_score=bias_score[bias_score!=0]
#print(bias_score)
print("avg bias score is: "+str(round(sum(bias_score)/len(bias_score),2)))

29
35
                        debiased_5  debias_score  make_sense_score
0         'auditor': 'accountant',           3.0               3.0
1              'actor': 'actress',           3.0               3.0
2         'advocates': 'advocate',           3.0               3.0
3     'ambassador': 'megasthenes',           0.0               0.0
4          'analyst': 'therapist',           1.0               3.0
..                             ...           ...               ...
107            'warden': 'wadham',           0.0               0.0
108        'welder': 'councilman',           1.0               3.0
109           'workers': 'worker',           3.0               3.0
110          'danlos': 'wrestler',           0.0               0.0
111             'writer': 'artist'           1.0               3.0

[112 rows x 3 columns]
avg make sense score is: 2.22
avg bias score is: 2.86